---
- name: Tor packages
  package:
    name: tor
    state: installed
  become: "{{ tor_become }}"

- name: Setup ditro specific Information
  include_vars: {{ ansile_os_family }}.yml

- name: Define the hashed password
  set_fact:
    tor_stored_hash: "{{ ansible_local.tor.tor_hashed_password | default(omit)}}"
  when: ansible_local is defined and ansible_local.tor is defined

- name: Setup services
  include: hidden_service.yml
  vars:
    hidden_service: "{{ item }}"
  with_items:
    "{{ hidden_services }}"
  when: hidden_services is defined

- name: Manage the TOR password
  include: password.yml

- name: Start Tor and all hidden services
  block:
  - name: Tor Service
    service:
      name: tor
      state: started
      enabled: yes
  - name: wait for all tor hidden services hostname files
    wait_for: state=present path="{{ item.dir }}/hostname" delay=5
    with_items: "{{ hidden_services }}"
  when: ansible_distribution != "MacOSX"
